.toDoTemplate {
  width: 512px;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    background-color: #182c61;
    color: #fff;
    font-size: 1.5rem;
  }

  .content {
    background-color: #f7f1e3;
  }
}
